center{
    padding: 0;
}
button{
    /*コレ*/border: 3px solid #000;
    /*コレ*/border-radius: 100px;
    display: block;
    width: 200px;
    padding: 15px;
    box-sizing: border-box;
    background: #fff;
    color: #000;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
}